@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

#user-head-div {
  background-color: #f9d5aa;
  background-image: linear-gradient(#f9d5aa, #fff);
}

@media only screen and (max-width: 600px) {
  .user-food-category-cont {
    width: 20%;
    margin: 1rem;
  }
  .food-card {
    width: 280px;
  }
}
@media only screen and (max-width: 380px) {
  .user-food-category-cont {
    font-size: 12px;
  }
  .food-card {
    width: 160px;
  }
}
